@using App.Menu
@inject AdminSidebarService _AdminSidebarService
@model App.Models.ThongTinNhaThaus.ThongTinNhaThau

@{
    ViewData["Title"] = "Chi Tiết Dự Án";
    Layout =  "/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>@ViewData["Title"]</h1>

@* @foreach (var item in @ViewBag.dataNguoiDKDuAn) {
    
} *@

@* @foreach (var item in @ViewBag.dsach_thau) {
    @* <a>
        Tên nhà thầu: @item.TenNhaThau
    </a> *@


<table class="table">
    <thead>
        <tr>
            @* <th>
                 @Html.DisplayNameFor(model => model.Ten) 
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenDA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th> *@
             <th>
                @* @Html.DisplayNameFor(model => model.TenNhaThau) *@
               Tên Dự Án Đăng Ký
            </th>  <th>
                @* @Html.DisplayNameFor(model => model.TenNhaThau) *@
                Năm
            </th> 
            <th>
                @* @Html.DisplayNameFor(model => model.TenNhaThau) *@
               Người Liên Hệ Khi Làm Việc
            </th> 
             <th>
                @* @Html.DisplayNameFor(model => model.TenNhaThau) *@
               Email
            </th> 
            @* <th>
                @* @Html.DisplayNameFor(model => model.TenNhaThau) 
                Email 
            </th>  *@
            
            
           @* <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th> 
            <th></th>*@
        </tr>
    </thead>
    <tbody>
@foreach (var item in @ViewBag.dsach_thau) {
    @* <a>
        Tên nhà thầu: @item.TenNhaThau
    </a> *@
}
        <tr>
            <td>
                 @Model.Ten 
            </td>
            <td>
                @Model.Nam
            </td>
            <td>
                @Model.NguoiLienHe
            </td>
            <td>
                @Model.Email
            </td>
           @*  <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td> *@
            
            @* <td>
                <a href="dsNhaThau/detail/@item.ID" class="btn btn-primary" >Xem  </a> | 
                <a href="dsNhaThau/delete/@item.ID" class="btn btn-primary" >Xóa  </a> 
               
                
            </td> *@
           
        </tr>


<div>
    @* <hr />
    @* @Html.DisplayFor(model => model) 
    Tên Dự Án ĐK: @Model.Ten <br/>
    @* Ảnh: @Model.Anh <br/> 
    Năm: @Model.Nam <br/>
    Người Liên Hệ: @Model.NguoiLienHe <br/>
    @Model.MoTa <br/>
    @Model.TenDA <br/> *@
    

    <dl class="row">
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ten)
        </dt>
         <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DT)
        </dd> *@
       @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateSent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateSent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd> *@
    </dl>
</div>
@* <div>
    <a asp-action="dsNhaThau">Danh sách nhà thầu</a>
</div> *@


@{
    _AdminSidebarService.SetActive("DKThau", "dsNhaThau", "DKThau");
} 

@section Sidebar
{
    @Html.Raw(_AdminSidebarService.renderHtml())
}