@using App.Menu
@inject AdminSidebarService _AdminSidebarService


@model IEnumerable<App.Models.DKThaus.DKThau>

@{
    var products = ViewBag.products as IQueryable<App.Models.Product.ProductModel>;
    var posts = ViewBag.posts as IQueryable<App.Models.Blog.Post>;
    ViewData["Title"] = "Danh sách nhà thầu";
    Layout =  "/Views/Shared/_LayoutAdmin.cshtml";
}

<table class="table">
    <thead>
        <tr>
            @* <th>
                 @Html.DisplayNameFor(model => model.Ten) 
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenDA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th> *@
             <th>
                @* @Html.DisplayNameFor(model => model.TenNhaThau) *@
               Tên Nhà Thầu
            </th>  <th>
                @* @Html.DisplayNameFor(model => model.TenNhaThau) *@
                Số điện thoại
            </th> 
            <th>
                @* @Html.DisplayNameFor(model => model.TenNhaThau) *@
               Mã Số Thuế
            </th> 
             <th>
                @* @Html.DisplayNameFor(model => model.TenNhaThau) *@
               Người Liên Hệ
            </th> 
            <th>
                @* @Html.DisplayNameFor(model => model.TenNhaThau) *@
               Email
            </th> 
            @* <th>
                Ngày
            </th>  *@
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenNhaThau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaST)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NguoiLH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailLH)
            </td>
            @* <td>
                @Html.DisplayFor(modeItem =>item.Ngay)
            </td> *@
            <td>
                <a href="dsNhaThau/detail/@item.ID"   class="btn btn-primary" >Xem  </a> | 
                <a href="dsNhaThau/delete/@item.ID" class="btn btn-primary" >Xóa  </a>   
                @* <a asp-action="Index" asp-controller="/trangthongtin" asp-route-productid="@product.ProductID"  class="btn btn-primary ml-4">Đấu Thầu</a> *@
              
            </td>
           
        </tr>

}


 <a asp-action="ExportToExcel" class="btn btn-primary">Xuất ra Excel</a>

